.root {
    --font-sans-serif: Poppins, sans-serif;
    --orange-light: #fdb273;
    --gray: #56617a;
    --blue-dark: #133a69;
}

body {
    font-family: Poppins;
}


html {
    box-sizing: border-box;
    height: 100%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

/* VIDEO BACKGROUND */
#snowboarder {
    max-width: 100%;
    max-height: 100%;
    display: block;
    position: absolute;
    left: 0px;
    top: 0;
    z-index: -1;
}

/* HEADER */

.header-b__container {
    position: relative;
    width: 100%;
}

.header_hero-container {
    display: flex;
    justify-content: flex-start;
    align-content: space-between;
    width: 100%;
    padding: 1rem;
    position: absolute;
    top: 0;
    left: 0;
}

.logo-lockup {
    margin: 1rem;
    width: 10rem;
}

.navbar_hero-container {
    display: flex;
    justify-content: flex-end;
    align-content: center;
    width: 100%;
    padding: 1rem;
    position: absolute;
    top: 0;
    left: 0;
}

.navbar_hero-list-b {
    font-family: var(--font-sans-serif);
    font-weight: 500;
    color: white;
    font-size: 1rem;
    display: flex;
    justify-content: space-between;
    align-content: center;
    width: 100%;
    list-style: none;
    text-decoration: none;
    padding: 1rem;
    margin: 0;
}

/*Hero Nav Links*/

a.nav-links:link {
    color: white;
    text-decoration: none;
}

a.nav-links:visited {
    color: white;
    border-color: white;
    text-decoration: none;
}

a.nav-links:hover {
    color: #fdb273;
    border-color: fdb273;
    font-weight: bolder;
}

a.nav-links:active {
    color: #fdb273;
    font-weight: bolder;
}

/*Hero Extras Nav Links*/

a.navhero-extra:link {
    color: white;
    text-decoration: none;
}

a.navhero-extra:visited {
    color: white;
    border-color: white;
    text-decoration: none;
}

a.navhero-extra:hover {
    color: #fdb273;
    border-color: fdb273;
    font-weight: bolder;
}

a.navhero-extras:active {
    color: #fdb273;
    font-weight: bolder;
}

/*-----------------------------------------------------------*/

/*DROPDOWN MENU EXAMPLE*/

/*container*/

.main__navbar {
    overflow: hidden;
    background-color: white;
    max-width: 130px;
    margin: 0;
}

/*links inside navbar*/


.main__navbar a {
    float: left;
    font-size: 1rem;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    background-color: #56617a;
    max-width: 75px;
}

/*---------------------------------------------------*/

/*---NAVIGATION ICONS----*/

.icon_btn-container {
    position: relative;
}

.icon-btn1_home {
    background-color: white;
    border: 1px solid white;
    color: #133a69;
    font-size: 18px;
    border-radius: 50%;
    padding: 15px 17px;
    text-align: center;
    text-decoration: none;
    display: block;
    cursor: pointer;
    margin: 5px;
    position: absolute;
    top: 8rem;
    left: 2rem;
}

.icon-btn2_home {
    background-color: white;
    border: 1px solid white;
    color: #133a69;
    font-size: 18px;
    border-radius: 50%;
    padding: 15px 17px;
    text-align: center;
    text-decoration: none;
    display: block;
    cursor: pointer;
    margin: 5px;
    position: absolute;
    top: 12rem;
    left: 2rem;
}

.icon-btn3_home {
    background-color: white;
    border: 1px solid white;
    color: rgb(45, 93, 112);
    font-size: 18px;
    border-radius: 50%;
    padding: 15px 17px;
    text-align: center;
    text-decoration: none;
    display: block;
    cursor: pointer;
    margin: 5px;
    position: absolute;
    top: 16rem;
    left: 2rem;
}

.icon-btn4_home {
    background-color: white;
    border: 1px solid white;
    color: #133a69;
    font-size: 18px;
    border-radius: 50%;
    padding: 15px 18px;
    text-align: center;
    text-decoration: none;
    display: block;
    cursor: pointer;
    margin: 5px;
    position: absolute;
    top: 20rem;
    left: 2rem;
}

/*Icon Nav active Links*/

a.icon-btn1_home:link {
    color: #133a69;
    text-decoration: none;
}

a.icon-btn1_home:visited {
    color: #133a69;
    border-color: white;
    text-decoration: none;
}

a.icon-btn1_home:hover {
    font-size: 20px;
    color: #fdb273;
    border: 1px solid #fdb273;
    font-weight: bolder;
}

a.icon-btn1_home:active {
    font-size: larger;
    color: #fdb273;
    border: 1px solid #fdb273;
    font-weight: bolder;
}

/*------------------*/

a.icon-btn2_home:link {
    color: #133a69;
    text-decoration: none;
}

a.icon-btn2_home:visited {
    color: #133a69;
    border-color: white;
    text-decoration: none;
}

a.icon-btn2_home:hover {
    font-size: 20px;
    color: #fdb273;
    border: 1px solid #fdb273;
    font-weight: bolder;
}

a.icon-btn2_home:active {
    font-size: larger;
    color: #fdb273;
    border: 1px solid #fdb273;
    font-weight: bolder;
}

/*------------------*/

a.icon-btn3_home:link {
    color: #133a69;
    text-decoration: none;
}

a.icon-btn3_home:visited {
    color: #133a69;
    border-color: white;
    text-decoration: none;
}

a.icon-btn3_home:hover {
    font-size: 20px;
    color: #fdb273;
    border: 1px solid #fdb273;
    font-weight: bolder;
}

a.icon-btn3_home:active {
    font-size: larger;
    color: #fdb273;
    border: 1px solid #fdb273;
    font-weight: bolder;
}

/*------------------*/

a.icon-btn4_home:link {
    color: #133a69;
    text-decoration: none;
}

a.icon-btn4_home:visited {
    color: #133a69;
    border-color: white;
    text-decoration: none;
}

a.icon-btn4_home:hover {
    font-size: 20px;
    color: #fdb273;
    border: 1px solid #fdb273;
    font-weight: bolder;
}

a.icon-btn4_home:active {
    font-size: larger;
    color: #fdb273;
    border: 1px solid #fdb273;
    font-weight: bolder;
}

/*--------------------------*/

/* home-button lockup*/


.home-btn__lockup-container {
    position: absolute;
    top: 400px;
    left: 0;
}

.home-btn__home-orange1 {
    font-family: var(--font-sans-serif);
    color: white;
    background: #fdb273;
    padding: 9px 70px;
    font-size: 10px;
    line-height: 5px;
    text-align: left;
    display: block;
    border: none;
    cursor: pointer;
    margin: 1rem 0 0 2rem;
    position: relative;
}

.home-btn__home-text {
    font-weight: 600;
    font-size: 15px;
    color: white;
    line-height: 4px;
}

#home-btn__hotel-icon {
    font-size: 1.2rem;
    color: white;
    position: absolute;
    top: 25px;
    left: 20px;
}

.home-btn__home-textlg {
    font-weight: 600;
    font-size: 16px;
    color: white;
    line-height: 15px;
}

.home-btn__home-gray2 {
    font-family: var(--font-sans-serif);
    color: #133a69;
    background: white;
    padding: 10px 70px;
    font-size: 10px;
    line-height: 6px;
    text-align: left;
    display: block;
    border: none;
    cursor: pointer;
    margin: 0 5rem;
    position: relative;
    margin: 0 0 0 2rem;
}

.home-btn__home-text-pass {
    font-weight: 600;
    font-size: 16px;
    color: #133a69;
    line-height: 4px;
}

#home-btn__card-icon {
    font-size: 1.2rem;
    color: #133a69;
    position: absolute;
    top: 28px;
    left: 20px;
}

#home-btn__arrow-card-icon {
    font-size: 1.1rem;
    color: #133a69;
    position: absolute;
    top: 28px;
    left: 200px;
}

.home-btn__home-blue3 {
    font-family: var(--font-sans-serif);
    color: white;
    background: #133a69;
    padding: 10px 61px;
    font-size: 10px;
    line-height: 2px;
    text-align: left;
    display: block;
    border: none;
    cursor: pointer;
    margin: 0 5rem;
    position: relative;
    margin: 0 0 0 2rem;
}

#home-btn__map-icon {
    font-size: 1.2rem;
    color: white;
    position: absolute;
    top: 35px;
    left: 20px;
}

#home-btn__arrow-map-icon {
    font-size: 1.1rem;
    color: white;
    position: absolute;
    top: 35px;
    left: 200px;
}

/*------------------*/

a.home-btn__home-orange1:link {
    color: #133a69;
    text-decoration: none;
}

a.home-btn__home-orange1:visited {
    color: #133a69;
    border-color: white;
    text-decoration: none;
}

a.home-btn__home-orange1:hover {
    color: white;
    background-color: #56617a;
}

a.home-btn__home-orange1:active {
    color: white;
    background-color: #56617a;
}

/*------------------*/

a.home-btn__home-gray2:link {
    color: #133a69;
    text-decoration: none;
}

a.home-btn__home-gray2:visited {
    color: #133a69;
    border-color: white;
    text-decoration: none;
}

a.home-btn__home-gray2:hover {
    color: white;
    background-color: #56617a;
}

a.home-btn__home-gray2:active {
    color: white;
    background-color: #56617a;
}

/*------------------*/

a.home-btn__home-blue3:link {
    color: #133a69;
    text-decoration: none;
}

a.home-btn__home-blue3:visited {
    color: #133a69;
    border-color: white;
    text-decoration: none;
}

a.home-btn__home-blue3:hover {
    color: white;
    background-color: #56617a;
}

a.home-btn__home-blue3:active {
    color: white;
    background-color: #56617a;
}

/*------------Agenda popup-------*/


.home-agenda__container {
    position: absolute;
    top: 20rem;
    left: 60rem;

}

.home-popup__agendaimg {
    width: 22rem;
}

#home-btn-pop-x {
    position: absolute;
    top: 20px;
    left: 320px;
    color: #fdb273;
}

.home-popup_h1 {
    font-family: var(--font-sans-serif);
    font-size: 30px;
    position: absolute;
    top: 0px;
    left: 25px;
    color: #fdb273;
}

.home-popup_img {
    width: 300px;
    position: absolute;
    top: 60px;
    left: 25px;
}

.home-popup_text {
    font-family: var(--font-sans-serif);
    font-weight: 300;
    font-size: 14px;
    color: #133a69;
    line-height: 18px;
    position: absolute;
    top: 200px;
    left: 25px;
}

.home-popup_btn-orange {
    font-family: var(--font-sans-serif);
    font-weight: bold;
    border: none;
    color: white;
    background: #fdb273;
    padding: 1rem 7.2rem;
    font-size: 1rem;
    cursor: pointer;
    display: inline-block;
    margin: 1rem;
    position: absolute;
    top: 275px;
    left: 10px;
}

/*link active--*/
a.home-popup_btn-orange:link {
    color: white;
    text-decoration: none;
}

a.home-popup_btn-orange:visited {
    color: white;
    border-color: white;
    text-decoration: none;
}

a.home-popup_btn-orange:hover {
    color: white;
    background-color: #56617a;
}

a.home-popup_btn-orange:active {
    color: white;
    background-color: #56617a;
}

/*------------------------------*/
.help-icon {
    width: 4rem;
    position: sticky;
    top: 43rem;
    z-index: 1;
}

/*---------------OPENING DAY SECTION-------*/

.home-opening-container {
    position: relative;
    display: block;
}

.feature__1opening-container {
    position: absolute;
    display: block;
    top: 43rem;
    left: 20rem;
}

.feature__open1 {
    width: 100%;
    margin: 2rem;
    position: absoute;
    top: 0;
    left: 0;
}

.opening-orange {
    font-family: var(--font-sans-serif);
    font-size: 1.3rem;
    color: #fdb273;
    text-align: center;
    line-height: 2rem;
    margin: 0;
}

.date-black {
    font-family: var(--font-sans-serif);
    font-size: 1.3rem;
    color: black;
    text-align: center;
    margin: 0;
}

/*Pedestrian Resort*/

.pedestrian__container {
    max-width: 100%;
    height: auto;
    display: block;
    position: relative;
    top: 53rem;
}

/*Slideshow container*/
.slideshow-container {
    max-width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

/*Hide the images by default*/
.mySlides {
    display: none;
}

/*Next and prev buttons*/
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 1rem;
    color: white;
    font-weight: bold;
    font-size: 3rem;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/*Position the next button to the right side*/
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/*on hover, add a orange background color with transparency*/
.prev:hover,
.next:hover {
    background-color: #fdb273;
}

/*Caption text*/
.slide_h1-org {
    font-family: var(--font-sans-serif);
    color: #fdb273;
    font-size: 7rem;
    position: absolute;
    top: 0;
    left: 20rem;
    width: 100%;
    text-align: left;
    z-index: 1;
}

.slide_h1-blk {
    font-family: var(--font-sans-serif);
    color: black;
    font-size: 7rem;
    position: absolute;
    top: 7rem;
    left: 28rem;
    width: 100%;
    text-align: left;
    z-index: 1;
}

.slide_p-text {
    font-family: var(--font-sans-serif);
    color: #5d6d81;
    font-size: .9rem;
    line-height: 1.5;
    font-style: italic;
    padding: .5rem .8rem;
    position: absolute;
    top: 22rem;
    left: 30rem;
    width: 100%;
    text-align: left;
    z-index: 1;
}

.slide_arrows {
    width: 10rem;
    z-index: 1;
    position: absolute;
    top: 25rem;
    left: 60rem;
}

/*number text (1/6 etc)*/
.numbertext {
    color: #133a69;
    font-size: 1rem;
    padding: .5rem .8rem;
    position: absolute;
    top: 0;
}

/*button FIND OUT MORE*/
.slide_btn {
    font-family: var(--font-sans-serif);
    font-weight: bold;
    border: none;
    color: white;
    background: #fdb273;
    padding: 10px 42px;
    font-size: .8rem;
    cursor: pointer;
    display: inline-block;
    position: absolute;
    top: 32rem;
    left: 31rem;
    text-decoration: none;
}

/*link active--*/
a.slide_btn:link {
    color: white;
    text-decoration: none;
}

a.slide_btn:visited {
    color: white;
    text-decoration: none;
}

a.slide_btn:hover {
    color: white;
    background-color: #133a69;
}

a.slide_btn:active {
    color: white;
    background-color: #133a69;
}


/*------------*/

.nav-feature__container {
    max-width: 100%;
    background-color: white;
    margin: 2rem;
    display: block;
    position: relative;
}

.home-feature2__container {
    max-width: 100%;
    height: 32rem;
    position: absolute;
    top: 60rem;
    left: 0;
    display: block;
}

.headline__ped-backimg {
    max-width: 100%;
    height: 35rem;
    display: block;
}

.headline__feature-img1 {
    width: 18rem;
    height: 29rem;
    position: absolute;
    left: 3rem;
    top: 3rem;
}

.headline__feature-img2 {
    width: 9.5rem;
    height: 29rem;
    position: absolute;
    left: 65rem;
    top: 2rem;
}

.headline__feature-text-orange {
    font-family: var(--font-sans-serif);
    color: #fdb273;
    font-size: 6rem;
    position: absolute;
    top: 3rem;
    left: 267px;
}

.headline__feature-text-black {
    font-family: var(--font-sans-serif);
    color: black;
    font-size: 6rem;
    position: absolute;
    top: 9rem;
    left: 25rem;
}

.headline__feature-text {
    font-family: "Poppins";
    font-style: italic;
    font-size: .7rem;
    line-height: 1rem;
    color: #56617a;
    position: absolute;
    top: 19.5rem;
    left: 25rem;
}

.headline__feature-button-orange {
    font-family: var(--font-sans-serif);
    font-weight: bold;
    border: none;
    color: white;
    background: #fdb273;
    padding: 10px 42px;
    font-size: .8rem;
    cursor: pointer;
    display: inline-block;
    position: absolute;
    top: 28rem;
    left: 25rem;
}

.feature__nav-icons {
    width: 9rem;
    position: absolute;
    top: 20rem;
    left: 48rem;
}

.feature__nav-circles {
    width: 100px;
    position: absolute;
    top: 26rem;
    left: 60rem;
}

*/
/*link active--
a.headline__feature-button-orange:link {
    color: white;
    text-decoration: none;
}

a.headline__feature-button-orange:visited {
    color: white;
    text-decoration: none;
}

a.headline__feature-button-orange:hover {
    color: white;
    background-color: #133a69;
}

a.headline__feature-button-orange:active {
    color: white;
    background-color: #133a69;
}
*/
/*-------feature 3 Mountains for All---------*/

.home-feature3_container {
    max-width: 100%;
    height: 40rem;
    margin: 1rem 2rem;
    display: block;
    position: relative;
}

.home-feature3__backimg {
    display: block;
    width: 100%;
    height: auto
}

.home-feature3-activities_container {
    max-width: 100%;
    position: relative;
    top: 95rem;
}

.home-feature3-headline {
    font-family: var(--font-sans-serif);
    font-size: 6rem;
    font-weight: 700;
    position: absolute;
    top: 0;
    left: 14rem;
}

.home-feature3-sub {
    font-family: var(--font-sans-serif);
    font-size: 2.5rem;
    color: #fdb273;
    font-weight: 700;
    position: absolute;
    top: 8rem;
    left: 38rem;
}

.home-feature3__activities {
    font-family: var(--font-sans-serif);
    font-size: 1rem;
    font-weight: 500;
    writing-mode: sideways-lr;
    position: absolute;
    top: 10rem;
    left: 5rem;
}

.home-feature3__line {
    font-size: .6rem;
    font-weight: 500;
    writing-mode: sideways-lr;
    position: absolute;
    top: 20rem;
    left: 5.5rem;
}

.home-feature3__btn_arrow {
    width: 130px;
    position: absolute;
    top: 28rem;
    left: 3rem;

}

.home-feature3__handicon {
    width: 3rem;
    position: absolute;
    top: 40rem;
    left: 0;
}

.home-feature3__smimg {
    width: 34rem;
    position: absolute;
    top: 15rem;
    left: 16rem;
}

.home-icon-container {
    position: absolute;
    top: 20rem;
    left: 55rem;
}

.home-icon__number {
    font-family: var(--font-sans-serif);
    font-weight: 500;
    font-size: .9rem;
    color: #fdb273;
    display: inline-block;
    margin: 0 1rem;
}

.home-icon__text {
    font-family: var(--font-sans-serif);
    font-weight: 500;
    font-size: .9rem;
    color: #56617a;
    text-align: left;
    display: inline-block;
    margin: .3rem;
}

.home-feature3__btn-orange {
    font-family: var(--font-sans-serif);
    font-weight: bold;
    border: none;
    color: white;
    background: #fdb273;
    padding: 10px 42px;
    font-size: .8rem;
    cursor: pointer;
    display: inline-block;
    margin: 20px 0 0 5px;
    position: absolute;
    top: 11rem;
}

.home-feature3__slide-icons {
    width: 7rem;
    margin: 73px 0 0 5px;
    position: absolute;
    top: 10.5rem;
}

/*link active--*/
a.home-feature3__btn-orange:link {
    color: white;
    text-decoration: none;
}

a.home-feature3__btn-orange:visited {
    color: white;
    text-decoration: none;
}

a.home-feature3__btn-orange:hover {
    color: white;
    background-color: #133a69;
}

a.home-feature3__btn-orange:active {
    color: white;
    background-color: #133a69;
}

/*---------Feature 4 Hotels Section----------*/

.home-feature4_container {
    width: 75rem;
    height: 40rem;
    display: block;
    position: relative;
}

.home-feature4-midsection_container {
    width: 75rem;
    height: 40rem;
    display: block;
    position: relative;
    top: 95rem;
}

.home-headline__featureimg1 {
    width: 85rem;
    display: block;
    position: relative;
}

.home-feature4__headline {
    font-family: var(--font-sans-serif);
    font-weight: 400;
    color: white;
    font-size: 5rem;
    font-weight: 700;
    position: absolute;
    top: 2rem;
    left: 32rem;
}

.home-feature4__subline {
    font-family: var(--font-sans-serif);
    font-weight: 700;
    color: #fdb273;
    font-size: .9rem;
    position: absolute;
    top: 10.5rem;
    left: 36.5rem;
}

.home-feature4__btn-orange {
    font-family: var(--font-sans-serif);
    font-weight: bold;
    border: none;
    color: white;
    background: #fdb273;
    padding: 10px 42px;
    font-size: .8rem;
    cursor: pointer;
    display: inline-block;
    margin: 20px 0 0 5px;
    position: absolute;
    top: 13rem;
    left: 40rem;
}

.home-feature4__subimgs__container {
    position: absolute;
    display: inline-block;
    top: 180rem;
}

.home-feature4__img1 {
    max-width: 15rem;
    display: inline-block;
    position: absolute;
    bottom: -5rem;
    left: 12rem;
}

.home-feature4__img2 {
    max-width: 18rem;
    position: absolute;
    bottom: -5rem;
    left: 30rem;
    border: .5rem solid #fdb273
}

.home-feature4__img3 {
    max-width: 15rem;
    position: absolute;
    bottom: -5rem;
    left: 50rem;
}

/*link active button--*/
a.home-feature4__btn-orange:link {
    color: white;
    text-decoration: none;
}

a.home-feature4__btn-orange:visited {
    color: white;
    text-decoration: none;
}

a.home-feature4__btn-orange:hover {
    color: white;
    background-color: #133a69;
}

a.home-feature4__btn-orange:active {
    color: white;
    background-color: #133a69;
}

/*-------FEATURE 5 Deals---------*/

.home-deal5_container {
    width: 80rem;
    height: 40rem;
    display: block;
    position: relative;
    top: 100rem;
}

.home-deal__backimg {
    width: 85rem;
    display: block;
    position: relative;
}

.home-deal__h2 {
    font-family: var(--font-sans-serif);
    font-weight: 700;
    color: #fdb273;
    font-size: 2.5rem;
    position: absolute;
    top: 1.7rem;
    left: 33rem;
}

.home-deal__h2-orange {
    font-family: var(--font-sans-serif);
    font-weight: 700;
    color: white;
    font-size: 1.8rem;
    background-color: #fdb273;
    padding: 8px;
    position: absolute;
    top: 9rem;
    left: 34rem;
}

.home-deal__h1 {
    font-family: var(--font-sans-serif);
    font-weight: 700;
    color: white;
    font-size: 3.2rem;
    position: absolute;
    top: 12rem;
    left: 28rem;
}

.deal__btn_arrow-l {
    width: 165px;
    position: absolute;
    top: 4rem;
    left: 2rem;
}

.home-deal__btn-orange {
    font-family: var(--font-sans-serif);
    font-weight: bold;
    border: none;
    color: white;
    background: #fdb273;
    padding: 10px 42px;
    font-size: .8rem;
    cursor: pointer;
    display: inline-block;
    margin: 20px 0 0 5px;
    position: absolute;
    top: 31rem;
    left: 65rem;
}

/*link active--*/
a.home-deal__btn-orange:link {
    color: white;
    text-decoration: none;
}

a.home-deal__btn-orange:visited {
    color: white;
    text-decoration: none;
}

a.home-deal__btn-orange:hover {
    color: white;
    background-color: #133a69;
}

a.home-deal__btn-orange:active {
    color: white;
    background-color: #133a69;
}

/*-------FEATURE 6 Events---------*/

.home-feature6_container {
    width: 85rem;
    display: block;
    position: relative;
}

.home-feature6-agenda-container {
    width: 85rem;
    display: block;
    position: relative;
    top: 98rem;
    left: 0;
}

.home-event_backimg {
    width: 85rem;
}

.home-events__subhead {
    font-family: var(--font-sans-serif);
    font-weight: 600;
    font-size: 3rem;
    color: #fdb273;
    position: absolute;
    top: 6rem;
    left: 33rem;
}

.home-events__headline {
    font-family: var(--font-sans-serif);
    font-weight: 700;
    font-size: 5rem;
    color: white;
    text-align: center;
    line-height: 50px;
    position: absolute;
    top: 10rem;
    left: 15rem;
}

.home-event__lgdatel-1 {
    font-family: var(--font-sans-serif);
    font-weight: 700;
    font-size: 2.5rem;
    color: white;
    position: absolute;
    top: 29rem;
    left: 6rem;
}

.home-event__lgdater {
    font-family: var(--font-sans-serif);
    font-weight: 700;
    font-size: 2.5rem;
    color: #fdb273;
    position: absolute;
    top: 29rem;
    left: 9rem;
}

.home-event__smdate1 {
    font-family: var(--font-sans-serif);
    font-weight: 700;
    font-size: 1rem;
    color: #fdb273;
    position: absolute;
    top: 33rem;
    left: 9rem;
}

.home-event__title1 {
    font-family: var(--font-sans-serif);
    font-weight: 700;
    font-size: .8rem;
    color: white;
    position: absolute;
    top: 31rem;
    left: 12rem;
}

.home-event__copy1 {
    font-family: var(--font-sans-serif);
    font-weight: 300;
    font-size: .7rem;
    line-height: 1rem;
    color: white;
    opacity: 50%;
    position: absolute;
    top: 32.5rem;
    left: 12rem;
}

/*----------------2--------------------*/
.home-event__lgdatel-2 {
    font-family: var(--font-sans-serif);
    font-weight: 700;
    font-size: 2.5rem;
    color: white;
    position: absolute;
    top: 29rem;
    left: 32rem;
}

.home-event__lgdater2 {
    font-family: var(--font-sans-serif);
    font-weight: 700;
    font-size: 2.5rem;
    color: #fdb273;
    position: absolute;
    top: 29rem;
    left: 35.8rem;
}

.home-event__smdate2 {
    font-family: var(--font-sans-serif);
    font-weight: 700;
    font-size: 1rem;
    color: #fdb273;
    position: absolute;
    top: 33rem;
    left: 35.5rem;
}

.home-event__title2 {
    font-family: var(--font-sans-serif);
    font-weight: 700;
    font-size: .8rem;
    color: white;
    position: absolute;
    top: 31rem;
    left: 39rem;
}

.home-event__copy2 {
    font-family: var(--font-sans-serif);
    font-weight: 300;
    font-size: .7rem;
    line-height: 1rem;
    color: white;
    opacity: 50%;
    position: absolute;
    top: 32.5rem;
    left: 39rem;
}

/*----------------3--------------------*/
.home-event__lgdatel-3 {
    font-family: var(--font-sans-serif);
    font-weight: 700;
    font-size: 2.5rem;
    color: white;
    position: absolute;
    top: 29rem;
    left: 59rem;
}

.home-event__lgdater3 {
    font-family: var(--font-sans-serif);
    font-weight: 700;
    font-size: 2.5rem;
    color: #fdb273;
    position: absolute;
    top: 29rem;
    left: 62rem;
}

.home-event__smdate3 {
    font-family: var(--font-sans-serif);
    font-weight: 700;
    font-size: 1rem;
    color: #fdb273;
    position: absolute;
    top: 33rem;
    left: 62rem;
}

.home-event__title3 {
    font-family: var(--font-sans-serif);
    font-weight: 700;
    font-size: .8rem;
    color: white;
    position: absolute;
    top: 31rem;
    left: 65rem;
}

.home-event__copy3 {
    font-family: var(--font-sans-serif);
    font-weight: 300;
    font-size: .7rem;
    line-height: 1rem;
    color: white;
    opacity: 50%;
    position: absolute;
    top: 32.5rem;
    left: 65rem;
}

.home-event__orangebtn {
    font-family: var(--font-sans-serif);
    font-weight: bold;
    border: none;
    color: white;
    background: #fdb273;
    padding: 10px 42px;
    font-size: .8rem;
    cursor: pointer;
    display: inline-block;
    margin: 20px 0 0 5px;
    position: absolute;
    top: 37.5rem;
    left: 38rem;
}

/*link active--*/
a.home-event__orangebtn:link {
    color: white;
    text-decoration: none;
}

a.home-event__orangebtn:visited {
    color: white;
    text-decoration: none;
}

a.home-event__orangebtn:hover {
    color: white;
    background-color: #133a69;
}

a.home-event__orangebtn:active {
    color: white;
    background-color: #133a69;
}

/*-------FEATURE 7 social media---------*/

.home-social__container {
    width: 85rem;
    display: block;
    position: relative;
    top: 100rem;
}

.home__social-backimg {
    width: 85rem;
    height: auto;
}

.home-social__h2 {
    font-family: var(--font-sans-serif);
    font-weight: 700;
    color: #fdb273;
    font-size: 2.5rem;
    position: absolute;
    top: 9rem;
    left: 36rem;
}

.home-social__h1 {
    font-family: var(--font-sans-serif);
    font-weight: 700;
    color: #fdb273;
    font-size: 8rem;
    position: absolute;
    top: 10rem;
    left: 27rem;
}

#home-btn_fb {
    background-color: white;
    color: #fdb273;
    border: 2px solid #fcd2b0;
    font-size: 1.5rem;
    border-radius: 50%;
    padding: 1rem 1.5rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    position: absolute;
    top: 27rem;
    left: 34rem;
}

#home-btn_ig {
    background-color: white;
    color: #fdb273;
    border: 2px solid #fcd2b0;
    font-size: 1.5rem;
    border-radius: 50%;
    padding: 1rem 1.3rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    position: absolute;
    top: 27rem;
    left: 39rem;
}

#home-btn_twit {
    background-color: white;
    color: #fdb273;
    border: 2px solid #fcd2b0;
    font-size: 1.5rem;
    border-radius: 50%;
    padding: 1rem 1.2rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    position: absolute;
    top: 27rem;
    left: 44rem;
}

#home-btn_youtube {
    background-color: white;
    color: #fdb273;
    border: 2px solid #fcd2b0;
    font-size: 1.5rem;
    border-radius: 50%;
    padding: 1rem 1.2rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    position: absolute;
    top: 27rem;
    left: 49rem;
}

#home-btn_p {
    background-color: white;
    color: #fdb273;
    border: 2px solid #fcd2b0;
    font-size: 1.5rem;
    border-radius: 50%;
    padding: 1rem 1.4rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    position: absolute;
    top: 27rem;
    left: 54rem;
}

#home-btn_tik {
    background-color: white;
    color: #fdb273;
    border: 2px solid #fcd2b0;
    font-size: 1.5rem;
    border-radius: 50%;
    padding: 1rem 1.3rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    position: absolute;
    top: 27rem;
    left: 59rem;
}

.home-social__h1-bk {
    font-family: var(--font-sans-serif);
    font-weight: 700;
    color: black;
    font-size: 8rem;
    position: absolute;
    top: 27rem;
    left: 40rem;
}

/*SOCIAL links active--*/
/*facebook*/
a#home-btn_fb:link {
    color: #fdb273;
    text-decoration: none;
}

a#home-btn_fb:visited {
    color: #fdb273;
    text-decoration: none;
}

a#home-btn_fb:hover {
    color: white;
    background-color: #fdb273;
}

a#home-btn_fb:active {
    color: white;
    background-color: #fdb273;
}

/*Insta*/
a#home-btn_ig:link {
    color: #fdb273;
    text-decoration: none;
}

a#home-btn_ig:visited {
    color: #fdb273;
    text-decoration: none;
}

a#home-btn_ig:hover {
    color: white;
    background-color: #fdb273;
}

a#home-btn_ig:active {
    color: white;
    background-color: #fdb273;
}

/*Twit/X*/
a#home-btn_twit:link {
    color: #fdb273;
    text-decoration: none;
}

a#home-btn_twit:visited {
    color: #fdb273;
    text-decoration: none;
}

a#home-btn_twit:hover {
    color: white;
    background-color: #fdb273;
}

a#home-btn_twit:active {
    color: white;
    background-color: #fdb273;
}

/*Youtube*/
a#home-btn_youtube:link {
    color: #fdb273;
    text-decoration: none;
}

a#home-btn_youtube:visited {
    color: #fdb273;
    text-decoration: none;
}

a#home-btn_youtube:hover {
    color: white;
    background-color: #fdb273;
}

a#home-btn_youtube:active {
    color: white;
    background-color: #fdb273;
}

/*Pinterest*/
a#home-btn_p:link {
    color: #fdb273;
    text-decoration: none;
}

a#home-btn_p:visited {
    color: #fdb273;
    text-decoration: none;
}

a#home-btn_p:hover {
    color: white;
    background-color: #fdb273;
}

a#home-btn_p:active {
    color: white;
    background-color: #fdb273;
}

/*Tiktok*/
a#home-btn_tik:link {
    color: #fdb273;
    text-decoration: none;
}

a#home-btn_tik:visited {
    color: #fdb273;
    text-decoration: none;
}

a#home-btn_tik:hover {
    color: white;
    background-color: #fdb273;
}

a#home-btn_tik:active {
    color: white;
    background-color: #fdb273;
}


/*-------FEATURE 8 Views Section---------*/


.home-views-feature8_container {
    width: 85rem;
    display: block;
    position: relative;
    top: 100rem;
}

.home-view__backimg {
    width: 85rem;
}

.home-view__h3 {
    font-family: var(--font-sans-serif);
    font-weight: 700;
    color: #fdb273;
    font-size: 2rem;
    position: absolute;
    top: 4rem;
    left: 40rem;
}

.home-view__o {
    font-family: var(--font-sans-serif);
    font-weight: 700;
    color: #fdb273;
    font-size: 1.1rem;
    position: absolute;
    top: 5rem;
    left: 47rem;
}

.home-view__360 {
    width: 5rem;
    border: 2px solid rgb(233, 231, 231);
    border-radius: 50%;
    padding: .8rem;
    position: absolute;
    top: 15rem;
    left: 41rem;
}

/*-------FEATURE 10 Sponsors/Contact---------*/


.home-contact-feature10_container {
    width: 85rem;
    display: block;
    position: relative;
    top: 100rem;

}

.home-contact__backimg {
    width: 85rem;
}

.sponsor__quote-container {
    position: relative;

}

.sponsor__quote-text-container {
    position: absolute;
    top: 5rem;
    left: 25rem;
}

.sponsor__quote-stars {
    width: 6rem;
    position: absolute;
    bottom: 7rem;
    left: 13rem;
}

.sponsor__quote {
    font-family: var(--font-sans-serif);
    font-size: .8rem;
    line-height: 1.2rem;
    color: #133a69;
    text-align: center;

}

.sponsor__quote-number {
    font-family: var(--font-sans-serif);
    font-size: .8rem;
    line-height: 1.2rem;
    color: #fdb273;
    text-align: center;
}

.home-contact__elk-icon {
    width: 6rem;
    position: absolute;
    top: 31rem;
    left: 37.5rem;
}

.home-contact__title-media {
    font-family: var(--font-sans-serif);
    font-weight: 700;
    color: #fdb273;
    font-size: 1.2rem;
    position: absolute;
    top: 37rem;
    left: 10rem;
}

.home-outline-contact {
    font-family: "poppins", sans-serif;
    font-size: .8rem;
    font-weight: 600;
    color: #133a69;
    opacity: 90%;
    padding: .6rem 3.1rem;
    background-color: white;
    text-decoration: none;
    border: 1px solid #133a69;
    position: absolute;
    top: 40rem;
    left: 10rem;
}

.home-outline-press-pack {
    font-family: "poppins", sans-serif;
    font-size: .8rem;
    font-weight: 600;
    color: #133a69;
    opacity: 90%;
    padding: .6rem 4rem;
    background-color: white;
    text-decoration: none;
    border: 1px solid #133a69;
    position: absolute;
    top: 40rem;
    left: 24rem;
}

.home-contact__title-info {
    font-family: var(--font-sans-serif);
    font-weight: 700;
    color: #fdb273;
    font-size: 1.2rem;
    position: absolute;
    top: 37rem;
    left: 45rem;
}

.home-outline-brochures {
    font-family: "poppins", sans-serif;
    font-size: .8rem;
    font-weight: 600;
    color: #133a69;
    opacity: 90%;
    padding: .6rem 4rem;
    background-color: white;
    text-decoration: none;
    border: 1px solid #133a69;
    position: absolute;
    top: 40rem;
    left: 45rem;
}

.home-outline-faq {
    font-family: "poppins", sans-serif;
    font-size: .8rem;
    font-weight: 600;
    color: #133a69;
    opacity: 90%;
    padding: .6rem 5rem;
    background-color: white;
    text-decoration: none;
    border: 1px solid #133a69;
    position: absolute;
    top: 40rem;
    left: 59rem;
}

.home-outline-partners {
    font-family: "poppins", sans-serif;
    font-size: .8rem;
    font-weight: 600;
    color: #133a69;
    opacity: 90%;
    padding: .6rem 4.4rem;
    background-color: white;
    text-decoration: none;
    border: 1px solid #133a69;
    position: absolute;
    top: 43.5rem;
    left: 45rem;
}

.home-outline-seminars {
    font-family: "poppins", sans-serif;
    font-size: .8rem;
    font-weight: 600;
    color: #133a69;
    opacity: 90%;
    padding: .6rem 1.4rem;
    background-color: white;
    text-decoration: none;
    border: 1px solid #133a69;
    position: absolute;
    top: 43.5rem;
    left: 59rem;
}

.home-phone {
    font-family: var(--font-sans-serif);
    font-weight: 700;
    color: #fdb273;
    font-size: 1.2rem;
    position: absolute;
    top: 48.5rem;
    left: 10rem;
}

.home-email {
    font-family: var(--font-sans-serif);
    font-weight: 700;
    color: #133a69;
    font-size: 1.2rem;
    position: absolute;
    top: 50rem;
    left: 10rem;
}

.home-btn_contact-fb {
    background-color: white;
    color: #133a69;
    border: 1px solid lightgray;
    font-size: 10px;
    border-radius: 50%;
    padding: 5px 8.3px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    position: absolute;
    top: 53rem;
    left: 10rem;
}

.home-btn_contact-ig {
    background-color: white;
    color: #133a69;
    border: 1px solid lightgray;
    font-size: 10px;
    border-radius: 50%;
    padding: 5px 7.5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    position: absolute;
    top: 53rem;
    left: 12rem;
}

.home-btn_contact-twit {
    background-color: white;
    color: #133a69;
    border: 1px solid lightgray;
    font-size: 10px;
    border-radius: 50%;
    padding: 5px 7px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    position: absolute;
    top: 53rem;
    left: 14rem;
}

.home-btn_contact-youtube {
    background-color: white;
    color: #133a69;
    border: 1px solid lightgray;
    font-size: 10px;
    border-radius: 50%;
    padding: 5px 6px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    position: absolute;
    top: 53rem;
    left: 16rem;
}

.home-btn_contact-p {
    background-color: white;
    color: #133a69;
    border: 1px solid lightgray;
    font-size: 10px;
    border-radius: 50%;
    padding: 5px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    position: absolute;
    top: 53rem;
    left: 18rem;
}

.home-btn_contact-tik {
    background-color: white;
    color: #133a69;
    border: 1px solid lightgray;
    font-size: 10px;
    border-radius: 50%;
    padding: 5px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    position: absolute;
    top: 53rem;
    left: 20rem;
}

.home-contact__title-news {
    font-family: var(--font-sans-serif);
    font-weight: 700;
    color: #fdb273;
    font-size: 1.2rem;
    position: absolute;
    top: 47rem;
    left: 45rem;
}

.home-outline-register {
    font-family: "poppins", sans-serif;
    font-size: .8rem;
    font-weight: 600;
    color: #133a69;
    opacity: 90%;
    padding: .6rem 4rem;
    background-color: white;
    text-decoration: none;
    border: 1px solid #133a69;
    position: absolute;
    top: 50rem;
    left: 45rem;
}

/*----------active buttons in contact section-------*/
/*SOCIAL links active--*/
/*facebook*/
a.home-btn_contact-fb:link {
    color: #133a69;
    text-decoration: none;
}

a.home-btn_contact-fb:visited {
    color: #133a69;
    text-decoration: none;
}

a.home-btn_contact-fb:hover {
    color: white;
    background-color: #fdb273;
}

a.home-btn_contact-fb:active {
    color: white;
    background-color: #fdb273;
}

/*Insta*/
a.home-btn_contact-ig:link {
    color: #133a69;
    text-decoration: none;
}

a.home-btn_contact-ig:visited {
    color: #133a69;
    text-decoration: none;
}

a.home-btn_contact-ig:hover {
    color: white;
    background-color: #fdb273;
}

a.home-btn_contact-ig:active {
    color: white;
    background-color: #fdb273;
}

/*Twit/X*/
a.home-btn_contact-twit:link {
    color: #133a69;
    text-decoration: none;
}

a.home-btn_contact-twit:visited {
    color: #133a69;
    text-decoration: none;
}

a.home-btn_contact-twit:hover {
    color: white;
    background-color: #fdb273;
}

a.home-btn_contact-twit:active {
    color: white;
    background-color: #fdb273;
}

/*Youtube*/
a.home-btn_contact-youtube:link {
    color: #133a69;
    text-decoration: none;
}

a.home-btn_contact-youtube:visited {
    color: #133a69;
    text-decoration: none;
}

a.home-btn_contact-youtube:hover {
    color: white;
    background-color: #fdb273;
}

a.home-btn_contact-youtube:active {
    color: white;
    background-color: #fdb273;
}

/*Pinterest*/
a.home-btn_contact-p:link {
    color: #fdb273;
    text-decoration: none;
}

a.home-btn_contact-pvisited {
    color: #fdb273;
    text-decoration: none;
}

a.home-btn_contact-p:hover {
    color: white;
    background-color: #fdb273;
}

a.home-btn_contact-p:active {
    color: white;
    background-color: #fdb273;
}

/*Tiktok*/
a.home-btn_contact-tik:link {
    color: #133a69;
    text-decoration: none;
}

a.home-btn_contact-tik:visited {
    color: #133a69;
    text-decoration: none;
}

a.home-btn_contact-tik:hover {
    color: white;
    background-color: #fdb273;
}

a.home-btn_contact-tik:active {
    color: white;
    background-color: #fdb273;
}

/*--------Contact Buttons------------*/
/*Contact*/
a.home-outline-contact:link {
    color: #133a69;
    text-decoration: none;
}

a.home-outline-contact:visited {
    color: #133a69;
    text-decoration: none;
}

a.home-outline-contact:hover {
    color: white;
    background-color: #133a69;
}

a.home-outline-contact:active {
    color: white;
    background-color: #133a69;
}

/*Press Pass*/
a.home-outline-press-pack:link {
    color: #133a69;
    text-decoration: none;
}

a.home-outline-press-pack:visited {
    color: #133a69;
    text-decoration: none;
}

a.home-outline-press-pack:hover {
    color: white;
    background-color: #133a69;
}

a.home-outline-press-pack:active {
    color: white;
    background-color: #133a69;
}

/*Brochures*/
a.home-outline-brochures:link {
    color: #133a69;
    text-decoration: none;
}

a.home-outline-brochures:visited {
    color: #133a69;
    text-decoration: none;
}

a.home-outline-brochures:hover {
    color: white;
    background-color: #133a69;
}

a.home-outline-brochures:active {
    color: white;
    background-color: #133a69;
}

/*FAQ*/
a.home-outline-faq:link {
    color: #133a69;
    text-decoration: none;
}

a.home-outline-faq:visited {
    color: #133a69;
    text-decoration: none;
}

a.home-outline-faq:hover {
    color: white;
    background-color: #133a69;
}

a.home-outline-faq:active {
    color: white;
    background-color: #133a69;
}

/*PARTNERS*/
a.home-outline-partners:link {
    color: #133a69;
    text-decoration: none;
}

a.home-outline-partners:visited {
    color: #133a69;
    text-decoration: none;
}

a.home-outline-partners:hover {
    color: white;
    background-color: #133a69;
}

a.home-outline-partners:active {
    color: white;
    background-color: #133a69;
}

/*SEMINARS*/
a.home-outline-seminars:link {
    color: #133a69;
    text-decoration: none;
}

a.home-outline-seminars:visited {
    color: #133a69;
    text-decoration: none;
}

a.home-outline-seminars:hover {
    color: white;
    background-color: #133a69;
}

a.home-outline-seminars:active {
    color: white;
    background-color: #133a69;
}

/*REGISTER*/
a.home-outline-register:link {
    color: #133a69;
    text-decoration: none;
}

a.home-outline-register:visited {
    color: #133a69;
    text-decoration: none;
}

a.home-outline-register:hover {
    color: white;
    background-color: #133a69;
}

a.home-outline-register:active {
    color: white;
    background-color: #133a69;
}


/*---------footer------------*/

.home-footer__container {
    width: 85rem;
    background-color: #0e2d53;
    display: flex;
    justify-content: center;
    padding: 0 2rem;
    position: relative;
    top: 100rem;
}

.home-footer__logo {
    width: 55px;
    height: fit-content;
    padding: 10px;
    align-items: center;
}

.home-footer__copyright {
    font-family: "poppins", sans-serif;
    font-size: .9rem;
    color: #133a69;
    margin: 2rem;
}